.nav {
  background: var(--gray-700);
  height: 12.5rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.4;
  color: var(--blue);

  margin-left: .75rem;
}

.logo h1 span {
  color: var(--blue--dark);
}
